mat-card {
    padding: 0;
    margin: 30px 15px;
    border: 1px solid #781e28;
}


mat-card-header,
mat-card-content {
    padding: 15px;
}

mat-card-header {
    padding: 15px;
    color: #781e28;
    font-family: fantasy;
    letter-spacing: 2px;
    border: 2px solid #781e28;
}

mat-card-title,
mat-card-subtitle {
    margin: 0;
}

mat-card-title {
    margin-bottom: 15px;
}

mat-card-subtitle {
    font-family: sans-serif;
    letter-spacing: 0;
    color: #781e28;
}

.itemList ul {
    list-style: none;
    padding: 0;
}

.itemList ul img {
    height: 20px;
    margin-right: 8px;
}