<mat-card appOnScrollFadeIn>
  <div class="fullWidth mat-card-image-custom mat-card-customContainer" >
      <img [src]="item.imageUrl" alt="">
      <div class="imageOverlay"></div>
  </div>
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>{{item.domaine}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      {{item.description | multiLinesEllipsis: 150}}
  </mat-card-content>
  <mat-card-actions class="fullWidth">
    <div class="mat-card-customContainer">
      <button mat-stroked-button [routerLink]="['detail', item.name]" (click)="addToSelectedItems('view')">VOIR</button>
      <button mat-flat-button (click)="addToSelectedItems('buy')">ACHETER</button>
    </div>
  </mat-card-actions>
</mat-card>

